# Node modules and dependency files
/node_modules/
/package-lock.json

# Build outputs
/dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and System files
.DS_Store

# IDE and Tooling
.idea/
.vscode/
.air/
.junie/

# Coverage
/coverage/
